name: tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.4, 8.3, 8.2]
        testbench: [8.0, 9.0]

        exclude:
          - php: 8.4
            testbench: 8.0

    name: PHP ${{ matrix.php }} - TB${{ matrix.testbench }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none

    - name: Install dependencies
      run: |
        composer require "orchestra/testbench:${{ matrix.testbench }}" --dev --no-interaction --no-update
        composer update --prefer-stable --prefer-dist --no-interaction

    - name: Run codesniffer
      run: ./vendor/bin/phpcs

    - name: Run psalm
      run: ./vendor/bin/psalm

    - name: Run tests
      run: ./vendor/bin/pest
