name: tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.4, 8.3, 8.2]
        stability: [prefer-stable]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none

    - name: Install dependencies
      run: |
        composer update --${{ matrix.stability }} --prefer-dist --no-interaction

    - name: Run codesniffer
      run: ./vendor/bin/phpcs

    - name: Run psalm
      run: ./vendor/bin/psalm

    - name: Run tests
      run: ./vendor/bin/pest
